DATABASE_URL=postgresql://neondb_owner:npg_McSFg0RV6XDh@ep-falling-butterfly-ahug9gvr.c-3.us-east-1.aws.neon.tech/neondb?sslmode=req
JWT_SECRET=abcd
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
USD_RATE=83.50
